@import './../../include.scss';

.player {
    height: 50px;
    border-radius: 50px 0 0 50px;
    border: 2px solid;
    border-right: unset;
    @include standardFormat($jc: unset);
    padding-left: 5px;

    span {
        font-size: 20px;
        margin-left: 16px;
    }

    img {
        object-fit: contain;
        border-radius: 100%;
    }
}

.activ {
    width: 50px;
    background-color: rgb(99, 99, 99);
    border-color:  rgb(168, 0, 0);
    animation: not-thisPlayer-animation 1.2s ease-in-out;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    >span{
        display: none;
    }
}

.thisPlayer {
    width: 285px;
    background-color: orange;
    border-color:  rgb(0, 109, 0);
    animation: thisPlayer-animation 1.2s ease-in-out;
    transform: scale(1.6);
    transition: all 1.2s ease-in-out;
    >span{
        display: flex;
    }
}

@keyframes thisPlayer-animation {
    from {
        width: 50px;
        transform: scale(1);
        background-color: rgb(99, 99, 99);
        border-color:  rgb(168, 0, 0);
    }

    to {
        width: 285px;
        transform: scale(1.6);
        background-color: orange;
        border-color:  rgb(0, 109, 0);
    }
}

@keyframes not-thisPlayer-animation {
    from {
        width: 285px;
        transform: scale(1.6);
        background-color: orange;
        border-color:  rgb(0, 109, 0);
    }

    to {
        width: 50px;
        transform: scale(1);
        background-color: rgb(99, 99, 99);
        border-color:  rgb(168, 0, 0);
    }
}