@import './../../include.scss';

.field{
    @include standardSize();
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include standardFormat();

    .card_stack{
        position: relative;
        >img{
            position: absolute;
            width: 120px;   
        }

        .top-card{
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            &:hover{
                transform: scale(1.1) translateY(-10px);
            }
        }
    }
}

.pick-card{
    transition: all 0.125s ease-in-out;
    transform: scale(1.5) !important;
}