@import './../../include.scss';

.field{
    @include standardSize();
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include standardFormat();

    .card_stack{
        position: relative;
        >img{
            position: absolute;
            width: 120px;   
        }

        .top-card{
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            &:hover{
                transform: scale(1.1) translateY(-10px);
            }
        }
    }
}

.pick-card{
    animation: pick-card-animation 1.2s ease-in-out;
    transform: scale(1) translateX(200px) translateY(-240px) rotate(15deg);
}

.playedCard{
    right: 20px;
    transform: scale(1) translateX(0) translateY(-240px) rotate(15deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    20%{
        transform: scale(1.7);
    }

    30%{
        transform: scale(1.7);
    }

    50%{
        transform: scale(1.7);
    }

    100%{
        transform: scale(1) translateX(242px) translateY(-240px) rotate(15deg);
    }
}