@mixin standardFormat($dF: flex, $jc: center, $ai: center,$g: 0px, $fd: row){
    display: $dF;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $fd;
}

@mixin standardSize($w: 100vw, $h: 100vh, $mw: 100%, $mh: 100%){
    width: $w;
    height: $h;
    max-width: $mw;
    max-height: $mh;
}